body{
    background-color:rgb(241, 241, 190);
}
/* navbar */
.navbar{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
nav{
    width: 100%;
    background-image: linear-gradient(to right, rgb(68, 221, 76), rgb(113, 169, 206));
  }
  nav .wrapper{
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: inline;
    margin-left: -450px;
  }

  .wrapper .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .wrapper .btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  img{
    width: 40px;
    margin-top: 25px;
    margin-right: -50px;
  }


/*   Tambah Data */
fieldset{
    margin: auto;
    padding: 50px;
    width:fit-content;
    border-radius: 20px;
    border: 1px rgb(241, 241, 190) solid;
    background-color:rgb(252, 250, 121);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
label{
    font-size: 25px;
    color: rgb(24, 41, 41);
    font-family: Geneva;
    margin-right: 10px;
}
.nama,.alamat{
    margin-right: 15px;
}
.nama::after{
    content: ":";
    margin-left: 48px;
}
.alamat::after{
    content: ":";
    margin-left: 34px;
}

input{
    border: none;
    border-bottom: 1px solid rgb(39, 69, 82);
    font-size: 25px;
    font-family: 'Geneva';
    padding: 2px 10px;
    width: 200px;
    background: transparent;
    outline: none;
}

.button{
    text-align: center;
}
button{
    margin-top: 30px;
    margin-bottom: -30px;
    color: white;
    font-weight: bolder;
    text-shadow:1px 1px 3px black;
    background-color:rgb(113, 169, 206);
    border: none;
    padding: 5px 4px;
    border-radius: 10px;
    width: 80px;
    outline: 2px solid rgb(113, 169, 206);
    outline-offset: 2px;
}
.button:active{
  transform: translateY(4px) translateX(4px);
  box-shadow: #fff 0px 0px 0px;
}
h1{
    color: rgb(255, 255, 255);
    text-shadow:0px 0px 5px  rgb(0, 0, 0);
    background-color:rgb(113, 169, 206);
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 30px;
    font-weight:bolder;
}
form{
    margin-top: -25px;
}